@import url('https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet')

html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
  height: 100%;
  margin: 0px;
}

.tiles-enter {
  opacity: 0.01;
}

.tiles-enter.tiles-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}


/*
  InfoWindow Animation
*/

.infoWindow-enter {
  opacity: 0.01;
}

.infoWindow-enter.infoWindow-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.infoWindow-leave {
  opacity: 1;
}

.infoWindow-leave.infoWindow-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}


/*
  AddWindow Animation
*/

.addWindow-enter {
  opacity: 0.01;
}

.addWindow-enter.addWindow-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.addWindow-leave {
  opacity: 1;
}

.addWindow-leave.addWindow-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
